* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.background .symbol {
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.1);

  animation: float 10s infinite linear;
}

@keyframes float {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 50px;
  z-index: 1;
  position: relative;
  background-color: var(--container-background-color);
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

#profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

h1 {
  font-size: 4rem;
  white-space: nowrap;
  border-right: .15em solid var(--text-color);
  overflow: hidden;
  animation: typing 3s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--text-color);
  }
}

h2 {
  margin-top: 40px;
  color: var(--header-color);
}

p {
  margin: 10px 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.about,
.projects,
.reach-out {
  background: var(--block-background-color);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  transition: background 0.3s;
}

.about:hover,
.projects:hover,
.reach-out:hover {
  background: var(--block-hover-background-color);
}

.projects .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-item {
  display: block;
  color: var(--link-color);
  text-decoration: none;
}

.project-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-item p {
  margin-top: 10px;
}

.nav-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(18, 18, 18, 0.7);
  padding: 10px;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.nav-menu a {
  display: block;
  color: var(--link-color);
  text-decoration: none;
  margin: 5px 0;
}

.nav-menu a:hover {
  text-decoration: underline;
}

#theme-toggle {
  background: none;
  border: none;
  color: var(--link-color);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.about h2,
.projects h2,
.reach-out h2 {
  margin-top: 20px;
}

.projects {
  padding-top: 40px;
}

.gallery {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
}

.gallery-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.gallery-slide img,
.gallery-slide iframe {
  width: 100%;
  height: auto;
  display: block;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

:root {
  --background-color: #121212;
  --text-color: #E0E0E0;
  --link-color: #FFDD44;
  --container-background-color: rgba(18, 18, 18, 0.9);
  --header-color: #FFDD44;
  --block-background-color: rgba(255, 255, 255, 0.1);
  --block-hover-background-color: rgba(255, 255, 255, 0.2);
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #b069db;
  --container-background-color: #ffffff;
  --header-color: #00008B;
  --block-background-color: #E6F7FF;
  --block-hover-background-color: #CCE5FF;
}

body.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

a.light-mode {
  color: var(--link-color);
}

.container.light-mode {
  background-color: var(--container-background-color);
}

h1.light-mode {
  border-right-color: var(--text-color);
}

h2.light-mode {
  color: var(--header-color);
}

.about.light-mode,
.projects.light-mode,
.reach-out.light-mode {
  background-color: var(--block-background-color);
}

.about.light-mode:hover,
.projects.light-mode:hover,
.reach-out.light-mode:hover {
  background-color: var(--block-hover-background-color);
}

.nav-menu.light-mode {
  background: rgba(255, 255, 255, 0.7);
}

.nav-menu a.light-mode {
  color: var(--link-color);
}

#theme-toggle.light-mode {
  color: var(--link-color);
}

.symbol {
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);

  pointer-events: none;
  animation: float 10s infinite;
}

body.light-mode .symbol {
  color: rgba(0, 0, 0, 0.5);

}

body {
  cursor: url('assets/cursor-32.png'), auto;
}

a:hover,
.project-item:hover {
  cursor: url('assets/hand-cursor-32.png'), auto;
}

body.light-mode {
  cursor: url('assets/lightnormcursor.png'), auto;
}

body.light-mode a:hover,
body.light-mode .project-item:hover {
  cursor: url('assets/lightcursor.png'), auto;
}